<header>
    <div class="container-grid posicionamento-header">
        <a href="#"><img class="logo" src="assets/img/Logo5.png" alt="logo"></a>
        <nav id="menu" class="menu">
            <a href="#">inicio</a>
            <a href="#">jogos</a>
            <a href="#">noticias</a>
            <a href="#">contato</a>
            <a href="login">login</a>
        </nav>
        <a href="#" id="barras"><img class="barras" src="assets/img/menu.png" alt="menu de barras"></a>
    </div>
</header>
