<section onload="mostrarPopup()">      

    <!-- Carrossel Antigo -->

    <section>
        <div class="banners-container">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/img/fragnarok.png" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/Ghost of Tsuima.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/god-of-war-1.png" class="d-block w-100" alt="...">
                  </div>
                  </div>
            </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
        </div>         
          
            
            
    </section>

    
    <section class="secao-consoles container">
        <div class="consoles">
            <a href=""><img alt="Xbox" src="assets/img/Xbox Series.png" height="130px">
                <p>Xbox Serie S|E</p>
            </a>
            <a href=""><img alt="PlayStation 5" src="assets/img/PlayStation5.png">
                <p>Playstation 5</p>
            </a>
            <a href=""><img alt="Nintendo Switch" src="assets/img/Nintendo Switch.png">
                <p>Nintendo Switch</p>
            </a>
            <a href=""><img alt="Acessorios" src="assets/img/acessorios.png">
                <p>Acessórios</p>
            </a>
            <a href=""><img alt="Playstaion 4" src="assets/img/playstaion4.png">
                <p>PlayStation 4</p>
            </a>
            <a href=""><img alt="Xbox One" src="assets/img/xbox-one.png">
                <p>Xbox ONe</p>
            </a>

        </div>
    </section>

    <section class="secao-games container">

            <div class="games-container">

                <a href=""><img src="assets/img/NFL.png">
                    <p>R$ 182,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="assets/img/CODPS4.png">
                    <p>R$ 195,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="assets/img/SPIDERMAN.png">
                    <p>R$ 195,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="assets/img/NBA.png" height="230px">
                    <p>R$ 182,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="assets/img/CODPS5.png" height="230px">
                    <p>R$ 195,00 à vista<br> ou em 5X
                    </p>
                </a>
                <a href=""><img src="assets/img/HALO.png" height="230px">
                    <p>R$ 185,00 à vista<br> ou em 5X
                    </p>
                </a>

            </div>
        
            
    </section>
    
    
       
    
</section>



