<!-- faltou colocar o (ngSubmit)="onSubmit()" depois do ng form, sem ele não vai ter nenhuma ação depois que vc clicar no botão de login e o mesmo não será realizado -->

<form method="post" #userLogin="ngForm" (ngSubmit)="onSubmit()">
  <div class="imgcontainer">
    <img src="assets/img/Logo5.png" alt="logo">
  </div>

  <h3>Login</h3>

  <div class="login-caixa container">
    <p class="uname-email"><label for="uname"><b>Email</b></label>
      <!-- Você colocou um espaço no = do [(ngModel)]= e o mesmo não estava funcionando. Sem ele, o seu código não estava captando o email -->
      <input type="email" placeholder="Digite o seu email" name="uname" [(ngModel)]="userModel.email" required>
    </p>

    <p class="psw-senha"><label for="psw"><b>Senha</b></label>
      <!-- Você colocou um espaço no = do [(ngModel)]= e o mesmo não estava funcionando. Sem ele, o seu código não estava captando a senha -->
      <input type="password" placeholder="Digite sua senha" name="psw"  [(ngModel)]="userModel.password" required>
    </p>
  </div>

  <div class="botoes-login container">
    <div class="row">
      <button id="login-site" class="botao-login" type="submit">Login</button>
      <button id="login-site" class="botao-cadastro" routerLink="#">Cadastro</button>
    </div>
      <div class="cancelbtn">
        <button routerLink=" " class="cancelbtn1">Cancelar</button>
      </div>    
  </div>

</form>
