<footer>
    <div class="rodape-container">
        
            <a href="">
                <h2>Ajuda</h2></a>
            
                <a href="">
                    <h2>Sobre nós</h2></a>
                
                    <a href="">
                        <h2>Nossa Politíca</h2>
                    </a>
                    
                        <a href=""> 
                            <h2>Televendas</h2></a>
                                                                                            
                            <a href="">
                            <h2>Atendimento</h2></a>
                                
   </div>     


    <div class="rodape2-container">
        <div class="Aplicativos">
            <h2>Baixe o aplicativo:</h2>
            <a href=""><img src="assets/img/apple store.png" alt=""></a>
            <a href=""><img src="assets/img/google_play2.png" alt=""></a>
        </div>
        <div class="caixa ">
            <h2>Receba nossa newsletter:</h2>
            <form>
                <input id="campo-email" type="email" placeholder="E-mail" required>
                <button onclick="enviarEmail()">Cadastrar</button>
            </form>

        </div>
        <div class="redes-sociais">
            <h4>Conecte-se conosco:</h4>
            
            <a href=""><img src="assets/img/facebook2.png" alt=""></a>  
            <a href=""><img src="assets/img/instagram2.png" alt=""></a> 
            <a href=""><img src="assets/img/pinterest2.png" alt=""></a>
            <a href=""><img src="assets/img/twiter2.png" alt=""></a>
            <a href=""><img src="assets/img/youtube2.png" alt=""></a> 
    
        </div>

    </div>
    <section>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);text-align: center;">
            © 2022 Todos os direitos:
            <a href="">GameMania.com</a>
          </div>
    </section>

</footer>